.MobileSearch {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    border-radius: 18px;
    border: 2px solid #DDE1E9;
}
  
.search-close-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    float: right;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #DDE1E9;
}
  
.search-close-parent h3 {
    float: left;
    position: relative;
    padding: 0.4em;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 520;
    display: flex;
}
  
.close-icon {
    cursor: pointer;
    background-color: transparent !important;
    display: flex;
    align-items: center;
    padding: 0.4em;
    margin: 0.4em;
}
  
.close-icon:hover,
.close-icon:focus,
.close-icon:active {
    background-color: #ebebeb !important;
    border-radius: 10px;
}
  
@media (min-width: 835px) {
    .MobileSearch {
      display: none;
    }
}
  
.search-container-mobile {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}
  
.search-input-mobile {
    flex: 1;
    height: 50px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid #CCCCCC;
    border-radius: 15px;
    outline: none;
    background-color: #E9EDF2;
    color: #0d0c22f7;
    transition: 0.3s ease;
}
  
.search-input-mobile::placeholder {
    color: #333333;
    font-size: medium;
    line-height: normal;
    vertical-align: middle;
}
  
.search-input-mobile:focus,
.search-input-mobile:hover {
    outline: none;
    border: 2.25px solid;
    border-color: #999999;
    box-shadow: 0 0 0 4px #999999 / 10%;
}
  
.search-icon-mobile-2 {
    position: absolute;
    left: 1rem;
    fill: #a7a7a7;
    width: 1rem;
    height: 1rem;
    color: #7D879A;
    padding-left: 0.4em;
}

.search-container-mobile .search-icon-mobile-2:nth-of-type(2) {
    display: none;
}