
.SideNav ul {
    list-style-type: none;
}

.SideNav {
    max-width: 40vh;
    height: 100%;
    margin-left: -45px;
}

.SideNav ul li {
    display: flex;
    align-items: center;
    direction: ltr;
    padding-left: 60px;
    height: 3.4em;
    width: 13em;
    margin-bottom: 1em;
    cursor: pointer;
    background-color: transparent;
    font-size: 17px;
}

.house-icon {
    transform: scale(1.25);
    padding-right: 10px;
    transition: all 0.2s ease-out;
}

.home:hover {
    color: #E6007A;
    background-color: #ebebeb;
    border-radius: 15px;
    transition: all 0.2s ease-in;
}

.person-icon {
    transform: scale(1.25);
    padding-right: 10px;
    transition: all 0.2s ease-out;
}

.account:hover {
    color: #E6007A;
    background-color: #ebebeb;
    border-radius: 15px;
    transition: all 0.2s ease-in;
}

.play-arrow-icon {
    transform: scale(1.25);
    padding-right: 10px;
    transition: all 0.2s ease-out;
}

.getstarted:hover {
    color: #E6007A;
    background-color: #ebebeb;
    border-radius: 15px;
    transition: all 0.2s ease-in;
}

.account-wallet-icon {
    transform: scale(1.25);
    padding-right: 10px;
    transition: all 0.2s ease-out;
}

.defi:hover {
    color: #E6007A;
    background-color: #ebebeb;
    border-radius: 15px;
    transition: all 0.2s ease-in;
}

.SideNav ul li.active {
    color: #E6007A;
    border-radius: 15px;
    transition: all 0.2s ease-in;
}

@media(max-width: 834px) {
    .SideNav {
        display: none;
    }
}

.SideNav .tos a{
    color: #182237;
    text-decoration: none;
    display: flex;
    align-items: center;
    direction: ltr;
    padding-left: 93px;
    height: 3.4em;
    width: 13em;
    margin-bottom: 1em;
    cursor: pointer;
    background-color: transparent;
    font-size: 17px;
    margin-top: 27em;
    border-radius: 10px;
    transition: all 0.2s ease-in;
}

.SideNav .tos a:hover {
    background-color: #ebebeb;
    color: #E6007A;
}