html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #182237;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  background-color: #F7F7F8;
  user-select: none;
}

.content {
  display: flex;
  height: 100%;
}